---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/sections/Nav.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import DiagnoseTool from '../components/sections/DiagnoseTool.astro';
import Footer from '../components/sections/Footer.astro';
import RecentRepairs from '../components/ui/RecentRepairs.astro';
---

<BaseLayout>
  <Nav />
  <main id="main">
    <Hero />
    <Services />
    <DiagnoseTool />
  </main>
  <Footer />
  <RecentRepairs />
</BaseLayout>
